/* Main form layout */
.form-container { 
    display: flex;
    flex-direction: column;  /* Stack children vertically */
}

/* Index Page Card style */

#addExpenseCard {
    margin: 0 auto;
    border-radius: 8px;
    background-color: #212529e6!important;
    color: #f4f4f4;

}

#addIncomeCard {
    margin: 0 auto;
    border-radius: 8px;
    background-color: #212529e6!important;
    color: #f4f4f4;

}

.card-header {
    font-size: 2vh;
    font-weight: bold;
    
}


/* Aligning form controls */
.form-controls {
    display: flex;
    flex-wrap: wrap; /* Allow the controls to wrap */
    justify-content: space-between; /* Space out the children */
    align-items: center; /* Align items vertically in the center */
    font-weight: bold;
}

/* Button container */
.button-container {
    margin-top: 20px; /* Space above the buttons */
    align-self: flex-start; /* Align buttons to the start of the flex container */
}


/* Expense table style */

.table-container {
    border-radius: 8px; /* Table upper borders */
    overflow: hidden; 
}

.table-container .table {
    border-radius: 8px; /* Table bottom borders */
    overflow: hidden;
}


.table-container .table td, .table-container .table th {
    color: #f4f4f4; 
    background-color: #212529e6;
}

.table-container th.asc:after {
    content: '\0000a0\0025b2';
    float: right;
}

.table-container th.desc:after {
    content: '\0000a0\0025bc';
    float: right;
}

/* Column widths */
.table-container table td:nth-child(1) {
    width: 15%;
}

.table-container table td:nth-child(2) {
    width: 20%;
}

.table-container table td:nth-child(3) {
    width: 40%;
}

/* Pagination style */
.pagination .page-item .page-link {
    cursor: pointer;
}

/* Progress bar */
.progress {
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
    position: relative;
}

.progress {
    opacity: 0;
}

.htmx-request .progress {
    opacity: 1;
}
.htmx-request.progress {
    opacity: 1;
}

.progress .indeterminate {
    background-color: blue;
}

.progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}