{% extends "base.html" %}
{% load plotly_dash %}

{% block content %}
    <br/>
    <h1>Expenses</h1>
    <div>
        {% plotly_app_bootstrap name="monthly_expenses_chart" %}
    </div>
    <style>
        .embed-responsive-item {
          /* Graph container styles*/
          /* padding: 20px; */
          background-color: transparent;
          height: 100vh !important;
          width: 65vw !important;
          overflow-y: scroll !important;
          overflow-x: scroll !important;
        }
      </style>

{% endblock %}