{% extends 'base.html' %}

{% block content %}

<br/>
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card p-4 shadow" id="add-expense-card">
        <div class="card-header border-0">New Expense</div>
        <div class="card-body">
            <form id="expense_form" method="POST" action="{% url 'index' %}">
                {% csrf_token %}

                
                {{ expense_form.as_p }}

                <button type="submit" class="btn btn-primary w-100 mt-3" id="submit-expense-button"> Add Expense </button>
            </form>
        </div>
    </div>

    <div class="card p-4 shadow" id="add-income-card">
        <div class="card-header border-0">New Income</div>
        <div class="card-body">
            <form id= "income-form" method="POST" action="{% url 'index' %}">
                {% csrf_token %}

                
                {{ income_form.as_p }}

                <button type="submit" class="btn btn-primary w-100 mt-3" id="submit-income-button"> Add Income </button>
            </form>
        </div>
    </div>
</div>

<script>
document.getElementById('income-form').addEventListener('submit', function(event) {
    let salaryCategory = "{{ salary_category.id }}";
    let selectedCategory = document.getElementById('id_category').value;

    if (selectedCategory == salaryCategory) {
        let confirmation = confirm("An existing salary will be replaced. Do you want to continue?");
        if (!confirmation) {
            event.preventDefault();
        }
    }
});
</script>

{% endblock %}